.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(133, 133, 133, 0.542);
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup2 {
  margin: 70px auto;
  padding: 20px;
  background: rgb(91, 91, 91);
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup2 h2 {
  margin-top: 0;
  color: #333;
}
.popup2 .close2 {
  position: absolute;
  top: 15px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup2 .close2:hover {
  color: #e9e9e9;
}
.popup2 .content2 {
  max-height: 30%;
  overflow: auto;
  
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup2{
    width: 70%;
  }
}