/* ==========================================================================
    GENERAL
========================================================================== */
* {
    box-sizing: border-box;
    font-family: "Windows Regular";

  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-image:url(../images/backgroundwelcome.gif);
    background-size: cover;  
  }

  @font-face {
    font-family: "Windows Regular";
    src: url("../font/Windows.ttf") format("truetype"),
           
   }
   
  .desktop {
    height: 100vh;
    background-position: center;
    background-size: cover;
  }


  div{
      text-align: center;
      color: rgb(0, 0, 0);
  }

  a{
    text-decoration: none;
    color: black;
  }

  button{
    width: 20%;
    background-color: rgb(202, 202, 202);
    font-size: 50px;
  }


/* ==========================================================================
    FORM
========================================================================== */


div:nth-of-type(1){
    grid-column: 3/4; 
  }


  div:nth-of-type(2){
    grid-column: 3/4;
    grid-row: 4/5;    
  }