@charset "UTF-8";
/* ==========================================================================
    GENERAL
========================================================================== */
@import url(../css-scss/composants/modal-me.css);
@import url(../css-scss/composants/modal-skills.css);
@import url(../css-scss/composants/modal-hobbies.css);
@import url(../css-scss/composants/modal-contacts.css);
@import url(../css-scss/composants/modal-startbutton.css);
* {
  box-sizing: border-box;
  font-family: "Windows Regular";
}

h2 {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-image: url(../images/background-gif-website-0.gif);
  background-size: cover;
  color: white;
}

@font-face {
  font-family: "Windows Regular";
  src: url("../font/Windows.ttf") format("truetype");
}
.matête {
  position: relative;
  right: 260px;
  border-radius: 60%;
}

div {
  text-align: center;
}

.desktop {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

section {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
  padding-top: 110px;
}

span {
  color: rgb(255, 255, 255);
}

/* Animation boutons bleu */
.button {
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  border-radius: 2px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: rgba(8, 8, 162, 0.586);
  color: aliceblue;
  border: dashed 5px rgba(194, 179, 179, 0.732);
}

.button::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -100px;
  z-index: -1;
  transition: all 0.5s;
  box-shadow: inset -10px -10px 25px 0px rgba(129, 118, 143, 0.25), -10px 10px 25px 0 , 103, 120, 125, 0.25 0;
}

/* Fin Animation boutons bleu */
.skills {
  width: 40%;
}

.contacts {
  width: 40%;
}

.me {
  width: 40%;
}

.computer {
  width: 50%;
}

.panda {
  width: 20%;
}

.activities {
  width: 40%;
}

.computer {
  color: white;
}

/* ==========================================================================
    ICONS
========================================================================== */
div:nth-of-type(1) {
  grid-row: 1/2;
  grid-row: 1/2;
}

div:nth-of-type(2) {
  grid-column: 5/6;
  grid-row: -6/-5;
}

div:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 3/4;
}

div:nth-of-type(4) {
  grid-column: 5/6;
  grid-row: -2/-1;
}

div:nth-of-type(5) {
  grid-column: 1/2;
  grid-row: 5/6;
}

/* ==========================================================================
    TASKBAR
========================================================================== */
.taskbar {
  position: absolute;
  bottom: 0;
  height: 43px;
  width: 100%;
  background: rgba(142, 160, 249, 0.537254902);
  display: flex;
  z-index: 999999999;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

.start-windows98 {
  width: 15%;
}

/* ==========================================================================
   BUTTON
========================================================================== */
/* ==========================================================================
   HORLOGE
========================================================================== */
#time {
  position: relative;
  font-size: 30px;
  right: 20px;
}

/* ==========================================================================
   RESPONSIVE
========================================================================== */
@media screen and (max-width: 900px) {
  body {
    text-align: center;
  }
  .skills {
    width: 40%;
  }
  .contacts {
    width: 150%;
  }
  .me {
    width: 150%;
  }
  .activities {
    width: 40%;
  }
  .taskbar {
    position: absolute;
    bottom: 0;
    height: 53px;
    width: 100%;
    background: rgba(142, 160, 249, 0.537254902);
    display: flex;
    z-index: 999999999;
    justify-content: space-between;
    color: rgb(28, 28, 28);
  }
  .matête {
    position: relative;
    right: 25px;
    width: 15%;
    border-radius: 50%;
  }
  section {
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh;
    padding-left: 25px;
  }
  div:nth-of-type(1) {
    grid-row: 1/4;
    grid-row: 1/2;
  }
  div:nth-of-type(2) {
    grid-column: 7/8;
    grid-row: -7/-6;
  }
  div:nth-of-type(3) {
    grid-column: 3/7;
    grid-row: 3/4;
  }
  div:nth-of-type(4) {
    grid-column: 7/8;
    grid-row: -3/-2;
  }
  div:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .start-windows98 {
    width: 70%;
  }
  .panda {
    width: 32%;
  }
  #time {
    position: relative;
    font-size: 40px;
    right: 20px;
    color: white;
  }
  .closebutton {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
